langchain
langchain-community
python-dotenv
streamlit
python-magic
langchain-openai
OpenAI
langchain-groq
requests
llama-cpp-python
openai
elevenlabs
requests
pydub
python-dotenv
pytest
deepgram-sdk==2.12.0
streamlit-webrtc
av
SpeechRecognition
pyttsx3
pydub
sounddevice
matplotlib
seaborn
plotly
networkx
pandas
groq
